{% load static %}
<section class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <div class="text-center mb-5 pb-2">
          <h1 class="text-white">Sejarah Satria Dalem Segening</h1>

          <p class="text-white">Didirikan Pada Tahun 1900</p>
          <img class="m-4" src="{% static 'images/sejarah.jfif' %}" style="float: left" alt="" height="400px" weight="400px"/>
          <p class="text-black">Sejarah Satria Dalem Segening</p>
          <p class="text-black" align="justify">Satria Dalem Segening adalah salah satu tokoh legendaris dari Bali, Indonesia. Ia dikenal sebagai seorang ksatria yang sangat berani dan memiliki kemampuan yang luar biasa. Berikut adalah sejarah singkat mengenai Satria Dalem Segening:

            Satria Dalem Segening lahir pada masa pemerintahan Raja Dalem Waturenggong di Kerajaan Gelgel sekitar abad ke-16. Ia merupakan putra dari seorang bangsawan yang cukup terkenal di Bali. Sejak kecil, Satria Dalem Segening telah ditunjuk sebagai calon ksatria dan dilatih untuk menjadi pejuang yang tangguh.
            
            Satria Dalem Segening dikenal sebagai seorang ksatria yang sangat andal dalam seni bela diri Bali. Ia memiliki kemampuan yang sangat tinggi dalam menggunakan senjata tradisional Bali seperti pedang, tombak, dan keris. Ia juga terkenal sebagai ahli dalam ilmu sihir Bali, yang membuatnya menjadi sangat ditakuti oleh musuh-musuhnya.
            
            Selama hidupnya, Satria Dalem Segening banyak terlibat dalam peperangan dan konflik di Bali. Ia berperang untuk membela kehormatan dan keutuhan Kerajaan Gelgel, serta untuk melindungi rakyatnya dari serangan musuh. Ia terlibat dalam beberapa pertempuran yang sangat sengit, dan selalu keluar sebagai pemenang.
            
            Selain sebagai seorang ksatria, Satria Dalem Segening juga dikenal sebagai seorang pemimpin yang bijaksana dan adil. Ia selalu berusaha untuk memelihara perdamaian dan keamanan di Kerajaan Gelgel, serta membantu rakyatnya dalam berbagai hal. Karena jasa-jasanya yang besar, ia dihormati dan dihargai oleh seluruh masyarakat Bali.
            
            Setelah meninggal, Satria Dalem Segening dianggap sebagai pahlawan di Bali. Ia diabadikan dalam berbagai cerita rakyat dan legenda Bali, serta menjadi inspirasi bagi generasi-generasi selanjutnya. Peninggalannya yang paling terkenal adalah tempat peristirahatan terakhirnya, yaitu Pura Segening di desa Darmasaba, Gianyar, Bali, yang dianggap sebagai tempat suci yang memancarkan energi positif bagi pengunjungnya.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% load static %}
